PORT=8080

# Database
DATABASE_PORT=5432
DATABASE_USER=expense_user
DATABASE_PASSWORD=expense_pass
DATABASE_NAME=expense_db
DATABASE_HOST=localhost
DATABASE_SYNCHRONIZE=false

# JWT
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1h
